/* basic */
div.microBoatForm{
	padding: 0px;
	margin: 0px;
	width: 100%;
	font-family: Arial;
}

	div.microBoatForm span.required_star{
		color: rgb(255, 0, 0);
		margin: 0px 3px 0px 0px;
	}
	
	div.microBoatForm .error{
		color: rgb(255, 0, 0);
	}

	div.microBoatForm input{
		
	}
	
	div.microBoatForm input[type=text]{
		
	}
	
	div.microBoatForm input[type=submit], div.microBoatForm input[type=button]{
		cursor: pointer;
	}
	
	div.microBoatForm input[type=number]{
		
	}
	
	div.microBoatForm input[type=radio]{
		
	}

/* simple form */

div.microBoatForm fieldset.main{
	padding: 0px 10px 0px 20px;
	margin: 10px 10px 10px 10px;
}

	div.microBoatForm legend.title{
		font-weight: bold;
		font-style: italic;
		font-size: 17px;
	}
	
	div.microBoatForm p.description{
		margin: 7px 0px 0px 0px;
	}
	
	div.microBoatForm table.main{
		margin: 10px 0px 10px 0px;
	}
	
/* multiple form */
	
